<span class="<%= "round-#{round}-spacer" %>"></span>
<span class="<%= "player-spacer" %>"></span>
<span class="<%= "round-#{round}-game left_border" %>">
  <span class="<%= "round-#{round}-above-player-spacer" %>"></span>
  <p class="player"><%= show_first_player_in_game(game) %></p>
</span>
<span class="<%= "round-#{round}-spacer" %>"></span>


<span class="<%= "round-#{round}-between-spacer" %>"></span>