<div class="span-3<%= " last" if subsequent_game.round == Game.final.round %>">
	<br><%= Game.round_in_words(subsequent_game.round) %></br>

  <%- decorate = cycle('odd','even') %>
  <span class="round-<%= subsequent_game.round+1 %> <%= decorate %>-above"></span>
  <p class="<%= decorate %>"><%= (show_winner(subsequent_game.children[0])) %></p>
  <span class="round-<%= subsequent_game.round+1 %> <%= decorate %>-below"></span>

  <%- decorate = cycle('odd','even') %>
  <span class="round-<%= subsequent_game.round+1 %> <%= decorate %>-above"></span>
  <p class="<%= decorate %>"><%= (show_winner(subsequent_game.children[1])) %></p>
  <span class="round-<%= subsequent_game.round+1 %> <%= decorate %>-below"></span>

</div>