<span class="<%= "round-#{subsequent_game.round}-spacer" %>"></span>
<span class="<%= "player-spacer" %>"></span>
<span class="<%= "round-#{subsequent_game.round}-game left_border" %>">
  <span class="<%= "round-#{subsequent_game.round}-above-player-spacer" %>"></span>
  <p class="player"><%= (show_winner(subsequent_game.children[0])) %></p>
</span>
<span class="<%= "round-#{subsequent_game.round}-spacer" %>"></span>


<span class="<%= "round-#{subsequent_game.round}-between-spacer" %>"></span>


<span class="<%= "round-#{subsequent_game.round}-spacer" %>"></span>
<span class="<%= "player-spacer" %>"></span>
<span class="<%= "round-#{subsequent_game.round}-game left_border" %>">
  <span class="<%= "round-#{subsequent_game.round}-above-player-spacer" %>"></span>
  <p class="player"><%= (show_winner(subsequent_game.children[1])) %></p>
</span>
<span class="<%= "round-#{subsequent_game.round}-spacer" %>"></span>


<span class="<%= "round-#{subsequent_game.round}-between-spacer" %>"></span>
