<%- decorate = cycle('first_player','second_player') %>
<span class="<%= "round-#{first_game.round}-spacer" %>"></span>
<p class="<%= "round-#{first_game.round}-player" %>"><%= first_game.player1.name %></p>
<span class="<%= "round-#{first_game.round}-spacer" %>"></span>

<span class="<%= "round-#{first_game.round}-spacer" %>"></span>
<p class="<%= "round-#{first_game.round}-player" %>"><%= first_game.player2.name %></p>
<span class="<%= "round-#{first_game.round}-spacer" %>"></span>

