<h1>Tournament Draw</h1>



<div class="span-24">
	<h2>Tournament Draw</h2>
</div>


<% 1.upto(Game.final.round) do |round|%>
  <div class="span-3">
  	<br><%= Game.round_in_words(round) %></br>

    <%= render :partial=>@games_by_round[round]%>
  </div>
<% end %>

<div class="span-3<%= " last"%>">
	<br><%= Game.round_in_words(Game.final.round+1) %></br>
  <% round = Game.final.round+1 %>

  <span class="<%= "round-#{round}-spacer" %>"></span>
  <span class="<%= "player-spacer" %>"></span>
  <span class="<%= "round-#{round}-game left_border" %>">
    <span class="<%= "round-#{round}-above-player-spacer" %>"></span>
    <p class="player"><%= show_player_in_game(Game.final, Game.final.winner, Game.final) %></p>
  </span>
  <span class="<%= "round-#{round}-spacer" %>"></span>
  <span class="<%= "round-#{round}-between-spacer" %>"></span>
  
  


</div>


